body {
    display: flex;
    justify-content: center;
    background-color: rgb(47, 46, 46);
}

#gameboard {
    width: 640px;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;

}
.square {
    height: 80px;
    width: 80px;
}

.square svg {
    height: 70px;
    width: 70px;
    margin: 5px;
    position: relative;
    z-index: -9;
}

path {
    position: relative;
    z-index: -10;
}

.piece {
    position: relative;
    z-index: 9;
}

.beige {
    background: linear-gradient(90deg, rgb(157, 57, 3) 0%, rgb(206, 55, 14) 0%, rgb(72, 47, 12) 100%); 
}

.brown {
    background-image: linear-gradient(rgb(216, 59, 59), rgb(161, 161, 61)); 
}

.black {
    fill: black;
}

.white {
    fill: rgb(231, 228, 225);
}