body {
    display: flex;
    justify-content: center;
    background-color: rgb(33, 31, 31);
}

#gameboard {
    width: 640px;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;

}
.square {
    height: 80px;
    width: 80px;
}

.square svg {
    height: 70px;
    width: 70px;
    margin: 5px;
}

.beige {
    background: linear-gradient(90deg, rgb(157, 57, 3) 0%, rgb(206, 55, 14) 0%, rgb(72, 47, 12) 100%); 
}

.brown {
    background-image: linear-gradient(rgb(220, 61, 61), yellow); 
}

.black {
    fill: black;
}

.white {
    fill: rgb(159, 151, 141);
}